@font-face {
    font-family: "iranYekan";
    font-weight: 400;
    font-style: normal;
    src: url(/assets/font/IRANYekanX-Regular.woff) format("woff");
}

@font-face {
    font-family: "iranYekan";
    font-weight: 700;
    font-style: normal;
    src: url(/assets/font/IRANYekanX-Bold.woff) format("woff");
}

body,button{
    font-family: "iranYekan";
}